.btn {
    background-color: darken($color-secondary,30);
    color:white;
    font-size:15px;
    border:none;
    padding-bottom:4px;
    width:160px;
    height:40px;
    border-radius:20px;
    align-self:center;
}