.post {
    display:block;
    border: $color-secondary solid 1px;
    border-radius: 12px;
    width:600px;
    padding:14px;
    margin:20px auto;
    font-size:14px;
    text-decoration:none;
    background-color:$color-background;
    @include mobile-only {
        width:90%;
        margin:15px auto;
        font-size:13px;
    }
    &__header {
        display:flex;
        justify-content:space-between;
    }
    &__image {
        max-height:200px;
        display:block;
        margin:auto;
    }
    &__author {
        font-size:17px;
        color: $color-tertiary;
        margin:0;
        @include mobile-only {
            font-size:14px;
        }
    }
    &__tag {
        display:none;
        &--show {
            display:flex;
            background-color:$color-primary;
            color:white;
            font-weight:bold;
            font-style:italic;
            font-size:16px;
            width:fit-content;
            height:30px;
            border-radius:15px;
            padding:4px 6px;
            justify-items: right;
            @include mobile-only {
                font-size:13px;
            }
            & p {
                margin:0px 4px;
            }
            & svg {
                margin:4px 4px;
            }
        }
    }
    &__message {
        margin:6px 0;
        color: $color-text;
    }
    &__actions {
        display:flex;
        color: $color-text;
        margin:12px 0 6px 0;
        justify-content: space-between;
        @include mobile-only {
            flex-wrap:wrap;
        }
        & div {
            display:flex;
        }
        &__number-replies {
            margin:0 6px;
        }
        &__number-likes {
            margin:0 6px;
        }
        &__date {
            margin:0 6px 0 0;
        }
        &__edit {
            margin:0 6px;
            display:none;
            &__allow {
                display:block;
            }
        }
        &__delete {
            margin:0 6px;
            display:none;
            &__allow {
                display:block;
            }
        }
        &__like {
            margin:0 6px;
            display:none;
            &__allow {
                display:block;
            }
        }
        & svg {
           font-size:18px; 
        }
        & .hide {
            display:none;
        }
        & .display {
            display:flex;
        }
        &__bar {
            color:$color-primary;
            font-weight:bold;
            text-decoration:none;
            padding:2px 6px;
            border-radius:20px;
            background-color:$color-secondary;
            border:1px solid $color-secondary;
            & p:hover {
                color:black;
                cursor:pointer;
            }
            @include mobile-only {
                margin:10px auto 0px auto;
            }
        }
    }
    & .showthread {
        color:$color-primary;
        font-weight:bold;
        text-decoration:none;
        padding:2px 6px;
        border-radius:20px;
        background-color:$color-secondary;
        border:1px solid $color-secondary;
        @include mobile-only {
            position:relative;
            left:150px;
            top:10px;
        }
        &:hover {
            color:white;
            background-color:$color-primary;
            border-color:$color-primary;
        }
    }
}