.post {
    display:block;
    border: $color-secondary solid 1px;
    border-radius: 12px;
    width:600px;
    padding:14px;
    margin:20px auto;
    font-size:14px;
    text-decoration:none;
    background-color:$color-background;
    &__author {
        font-size:17px;
        color: $color-tertiary;
        margin:0;
    }
    &__message {
        margin:0;
        color: $color-text;
    }
    &__actions {
        display:flex;
        color: $color-text;
        &__number-replies {
            margin:0 6px;
        }
        &__number-likes {
            margin:0 6px;
        }
        &__date {
            margin:0 6px;
        }
        &__edit {
            margin:0 6px;
            display:none;
            &__allow {
                display:block;
            }
        }
        &__delete {
            margin:0 6px;
            display:none;
            &__allow {
                display:block;
            }
        }
        & svg {
           font-size:18px; 
        }
    }
}