.post-add {
    padding:20px;
    width:50%;
    margin:auto;
    @include mobile-only {
        padding:10px;
        width:90%;
        & h1 {
            font-size:20px;
        }
    }
}

select {
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
    @include mobile-only {
        padding:10px;
        width:100%;
    }
}

textarea {
    width:70%;
    height:150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
    @include mobile-only {
        padding:10px;
        width:100%;
    }
}