.welcome 
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    &__title
    {
        width:100%;
    }
    &__verticalbar
    {
        width:2px;
        height:200px;
        background-color:$color-primary;
    }
}